body{
    background-color: lavender;
    font-family: 'Patrick Hand', cursive;
}



#button{
    background-color: palegoldenrod;
    border-radius: 20%;
    margin-top: 30px;
    width: 100px;
    letter-spacing: 2px;
    font-weight: bold;
}

.header_div{
background-color: aliceblue;
color: lightskyblue;
}

.header_div p{
    color: rgb(162, 162, 162);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
}

.copyright_footer{
    background-color: aliceblue;
    width: 100%;
    font-size: 18px;
    bottom: 0;
    text-align: center;
    height: 50px;
    position: fixed;
    line-height: 3;
}
    